
.dark-grey-part{
	padding:50px 0px;
	background-color: #e4e4e4;
}

.link-footer a{
	background-color:#3B444F;
	color:blue;
	padding:30px;
	margin:10px;
	border-radius:50%;

}


.link-footer a:hover{
	color:purple;
		background-color:blue;

	}