header{
	width:100%; 
	background:none;
	height:60px; 
	position: fixed;
	top:0;
}

.hamburger{
  background-color:rgba(30,30,30,0.5);
  position:absolute;
  top:0;
  right:0;
  line-height:45px;
  padding:2px 15px 2px 15px;
  margin:5px;
  color:#fff;
  border:0;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}

.cross{
  background-color:rgba(30,30,30,0.5);
	top:231px;
	width:120px;
	height:40px;
  right:0;
	position: fixed;
  padding:0px 15px 0px 15px;
  color:#fff;
  border:0;
  font-size:2.5em;
  /*line-height:65px;*/
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.menu {
	z-index:1000000;
	font-weight:bold; 
	font-size:1.6vw; 
	width:120px; 
	background:rgba(30,30,30,0.5);  
	position: fixed;
	margin-top: 50px;
	top:0;
	right:0;
	text-align:center;
	margin:0;
 	padding:0;
 	color:blue;
}

.menu-items{
  padding:0px 10px 10px 10px;
  color:blue;
  /*#e4e4e4 */
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

.menu-title {
	text-transform: uppercase;
	color:white;
	font-size: 20px;
	font-weight: 400;
	padding-top:20px; 
}

.title-line {
  border-bottom:1px solid white;
  /*margin:0px 47vw;*/
  /*margin-bottom: 80px;*/
  width:20px;
  margin:auto;
  margin-bottom: 10px;
  padding-top: 0px;
}

/*
.menu-items:first-child{
  padding-top:50px; 
}
*/
/*.menu-items:last-child{
  padding-bottom:50px; 
}*/

.menu-items a{
  /*color:#e4e4e4;*/
  color:#DFDFDF;
  font-size: 12px;
  /*text-decoration: none;*/
}

.menu-items a:hover{
	text-decoration:none; 
	font-weight: 600;
}


/*.glyphicon-home{
  color:white; 
  font-size:1.5em; 
  margin-top:5px; 
  margin:0 auto;
}

*/


.header {
	display: flex;
	height:92vh;
	background:url("../img/IMG_9521.jpg");
	background-position: center;
	align-items: center;
	flex-direction:column;
	justify-content: center;
	background-size:cover;
	color: #fff;
}

/*.whiteline{
	border-bottom:1px solid #fff;
  margin:0px 5vw;
  width:80vw;
  padding: 0px 20px;
}*/

h1{
	/*font-weight: 300,400,600*/
	font-weight: 600;
	/*font-size: 12vw;*/
	    /*font-size: max(1em, 12px);*/
	font-size:calc(40px + 3vw);
	/*font-size: 2vmin;*/
	/*font-size: 80vw;*/
	text-size-adjust: auto;
	padding-bottom: 10px;
	margin: 0px 0px;
	padding:0px 30px;
}

.link{
	display:flex;
	flex-direction: row;
	padding-top:30px;
}



.around-link-white {
		display: flex;
		align-items: center;
		justify-content: center;
		/*background-color:yellow;*/
		width: 50px;
		height: 50px;
		/*padding: 20px 20px;*/
		/*margin: 10px;*/
		border-radius:50%;
}

.around-link-white i{
	color: #fff;
}


.around-link-white i:hover {
	color: #67747C;
}


/*.header p {
	padding-top:80px;
	font-size: 30px;
}*/

