.header {
	display: flex;
	height:70vh;
	background:url("../img/IMG_9521.jpg");
	background-position: center;
	align-items: center;
	flex-direction:column;
	justify-content: center;
	background-size:cover;
	color: #fff;
}

/*.whiteline{
	border-bottom:1px solid #fff;
  margin:0px 5vw;
  width:80vw;
  padding: 0px 20px;
}*/

h1{
	/*font-weight: 300,400,600*/
	font-weight: 600;
	/*font-size: 12vw;*/
	    /*font-size: max(1em, 12px);*/
	font-size:calc(40px + 3vw);
	/*font-size: 2vmin;*/
	/*font-size: 80vw;*/
	text-size-adjust: auto;
	padding-bottom: 10px;
	margin: 0px 0px;
	padding:0px 60px;
}

.link{
	display:flex;
	flex-direction: row;
	padding-top:30px;
}

.link .fa-envelope {
	padding:0px 20px;
	color: #fff;
}


.link .fa-linkedin {
	color: #fff;
}

.link .fa-envelope:hover {
	color: #297CBB;
}


.link .fa-linkedin:hover {
	color: #297CBB;
}




/*.header p {
	padding-top:80px;
	font-size: 30px;
}*/

