.align-vertical-skills {
	display: flex;
	flex-direction: column;
	align-items: center;
	/*width: 550px;*/
	width: 230px;
	padding: 40px 0px;
}

#skills h5 {
	text-align: center;
}


#skills p {
	text-align: center;
	font-size: 16px;
	padding-top: 15px;
}

/*.active .button a {
	color:green;
}
*/
.button {
	padding: 8px 10px;
	border-radius: 20px;
	font-size: 16px;
/*	text-transform: uppercase;*/
	text-decoration: none;
	color: #67747C;
	border:1px solid #67747C;	
	background-color: white;
	outline:none;
}

.button:hover {
	background-color: #67747C;
	color: white;
	text-decoration: none;
}

.aroundbutton{
	/*display: flex;*/
	/*align-items: flex-start;*/
	padding-top:2.5vh;
		border:none;
}

.skills-details {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#skills .skills-details p {
	padding:2px 0px;
	margin:0;
}

.align-dots{
	display: flex;
	flex-direction: row;
	/*padding-left: 15px;*/
	align-items: center;
	/*text-align: left;*/
	/*justify-content: left;*/
}

.align-dots:first-child{
	padding-left:4px;
}	
.fa-circle {
	padding:0px 1px;
	color:#297CBB;
}

.fa-circle-thin {
	padding:0px 1px;
	color:#297CBB;
}
