

@import url("navbar.css");
@import url("header.css");


body{
	text-align:center;
	font-family: 'Open Sans', sans-serif;
	/*font-weight: 300,400,600*/
	font-weight: 300;
	color:#3b444f;
	margin:0;
	padding-top: 50px;
}



h2{

}


a{
	text-decoration: none;
}

