

@import url("navbar.css");
@import url("header.css");
@import url("skills.css");
@import url("footer.css");

body{

	text-align:center;
	font-family: 'Open Sans', sans-serif;
	/*font-weight: 300,400,600*/
	font-weight: 300;
	color:#67747C;
	margin:0;
	/*padding-top: 50px;*/
}

.body{
	padding: 0px 20px;
}

.pad110-0{
	padding:110px 0px;

}

.pad70-0{
	padding:70px 0px;

}

/*h2{
	padding-top: 20px;
	text-transform: uppercase;	
	color:#3B444F;
}*/



h3{
	padding-top: 50px;
	padding-bottom:20px;
	margin:0px 0px;
	font-size: 45px;
	font-height:58px;
	color:#3B444F;
	letter-spacing: 5px;
}

/*#4699D8*/



.inline-title{
	display:flex;
	flex-direction: row;
	align-items: center;
	padding:0px 10vw;
}

.inline-subtitle{
	position:relative;
}

.fa-circle-thin{
	color: #297CBB;
	background-color: white;
}

.circle{
	position: absolute;
	top:14px;
	left:-52px;
/*	background-color: white;*/
}

.right-blueline{
	border-bottom:1px solid #297CBB;
	  /*width: 300vw;*/
	width: 100%;
	  /*margin:0px 4vw;*/
	  /*margin-bottom: 80px;*/
	padding-top: 50px;
	margin-left: 50px;
  /*padding-bottom: 20px;*/
}


.blueline{
  border-bottom:2px solid #297CBB;
  margin:0px 47vw;
  /*margin-bottom: 80px;*/
}

.align-history{
	display: flex;

	/*margin:50px 0px;*/
	/*margin-left: 100px;*/
	/*width:600px;*/
	/*text-align:left;*/
	display: flex;
	flex-direction: column;
	align-items: center;
	/*justify-content: center;*/
	padding:50px 50px;
/*	padding-left: 30px;*/
}

.align-vertical{
	display: flex;
	flex-direction: column;
	align-items: left;

	width: 550px;
	padding: 40px 0px;
	padding-left: 45px;
}

.blue-vertical-line{
	border-left:1px solid #297CBB;
}


.greyline{
	border-bottom:1px solid #e4e4e4;
	/*#67747c;*/
  margin:0px 8.5vw;
  margin-top: 50px;
}

p {
	font-size: 18px;
}

#programming p {
	text-align: left;
}

h5 {
	font-size: 26px;
	text-align: left;
	color:#297CBB;
}

h6{
	/*display:flex;*/
	font-size:18px;
	text-align: left;
	font-style: italic;
}

h7 {
		/*display:flex;*/
	font-size:18px;
	text-align: left;
	font-style: italic;
}
}
a{
	text-decoration: none;
}

.align-horizon{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 40px 0px;
}



.align-vertical p{
	display: flex;
	align-items: left;
	text-align: left;

}


#skills .align-vertical {
		width: 200px;
}