

@import url("navbar.css");
@import url("header.css");
@import url("skills.css");
@import url("footer.css");
@import url("sideprojects.css");

@media (min-width: 876px) {
  header {
    display: none;  
  }

}

@media (max-width: 875px) {
   .nav-bar {
     display: none;  
   }
   .circle {
   	display: none;
   }
}

body{

	text-align:center;
	font-family: 'Open Sans', sans-serif;
	/*font-weight: 300,400,600*/
	font-weight: 300;
	color:#67747C;
	margin:0;
	/*padding-top: 50px;*/
}

.body{
	padding: 0px 20px;
}

.pad110-0{
	padding:110px 0px;

}

.pad70-0{
	padding:70px 0px;

}

.pad50-0{
	padding:50px 0px;

}

/*h2{
	padding-top: 20px;
	text-transform: uppercase;	
	color:#3B444F;
}*/



h3 {
	padding-top: 50px;
	padding-bottom:20px;
	margin:0px 0px;
	font-size: 45px;
	color:#3B444F;
	letter-spacing: 3.5px;
}

/*#4699D8*/



.inline-title {
	display:flex;
	flex-direction: row;
	align-items: center;
	padding:0px 10vw;
}

.inline-subtitle {
	position:relative;
}

.fa-circle-thin {
	color: #297CBB;
	background-color: white;
}

.circle {
	position: absolute;
	top:54px;
	left:calc(-8vw + 43px);
	/*+7px*/

/*	background-color: white;*/
}

.right-blueline {
	border-bottom:1px solid #297CBB;
	  /*width: 300vw;*/
	width: 100%;
	  /*margin:0px 4vw;*/
	  /*margin-bottom: 80px;*/
	padding-top: 50px;
	margin-left: 50px;
  /*padding-bottom: 20px;*/
}


.blueline {
  border-bottom:2px solid #297CBB;
  /*margin:0px 47vw;*/
  /*margin-bottom: 80px;*/
  width:40px;
  margin:auto;
}


.align-history {
	display: flex;

	/*margin:50px 0px;*/
	/*margin-left: 100px;*/
	/*width:600px;*/
	/*text-align:left;*/
	display: flex;
	flex-direction: column;
	/*justify-content: center;*/
	padding-bottom: 50px;
/*	padding-left: 30vw;*/
	padding-top: 40px;

}

.align-horizon{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 40px 0px;
}


.align-vertical{
	display: flex;
	flex-direction: column;
	align-items: left;
	/*width: 550px;*/
	min-width :320px;
	padding: 40px 0px;
	padding-left: calc(8vw - 50px);
	margin-left: 30vw;
}

.align-vertical p{
	display: flex;
	align-items: left;
	text-align: left;
	font-size: 16px;
}

.align-vertical h5 {
	text-align: left;
}

.align-vertical h6{
	text-align: left;
}

.blue-vertical-line{
	border-left:1px solid #297CBB;
}


.greyline{
	border-bottom:1px solid #e4e4e4;
	/*#67747c;*/
  margin:0px 8.5vw;
  margin-top: 50px;
}

p {
	font-size: 18px;
}

#programming p {
	text-align: left;
}

h5 {
	font-size: 26px;
	text-align: center;
	color:#297CBB;
	padding-top: 50px;
	margin:0;
}

h6{
	/*display:flex;*/
	font-size:16px;
	text-align: center;
	font-style: italic;
	margin-bottom: 15px;
}

h7 {
		/*display:flex;*/
	font-size:16px;
	text-align: left;
	font-style: italic;
}


a {
	text-decoration: none;
}







